{% extends 'base.html' %}

{% block content %}
<div class="#">
    <div class="row justify-content-center">
        <h5 class="alert alert-danger">Your Previous Command: {{ error_msg }}</h5>
    </div>
    <div class="row justify-content-center">
        <h5 class="alert alert-warning">Note: Book bus for me from <u>Mumbai</u> to <u>Pune</u> on <u>23 next month</u> at <u>13</u> (Time format -- 24-hr)</h5>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-outline-success btn-lg mr-2 ml-2 md-2" id='btnGiveCommand'>Give Voice Command!</button>
        <button class="btn btn-outline-success btn-lg ml-2 mr-2 md-2" id='btnGivetxtCommand' onclick="text_input()">Give Text Command!</button>        
    </div>
    <br><br>
    <ul id="cmd_ul">
        <!--<li id='message'></li>-->
    </ul>
    <br>
    <div class="row justify-content-center">
        <h4>Bus found at your Time!</h4>
    </div>
    <div class="card" style="padding: 20px 20px 20px 20px">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Travels Name</th>
              <th scope="col">Bus Type</th>
              <th scope="col">Price</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{res_name}}</td>
                <td>{{res_type}}</td>
                <td>{{res_price}}</td>
                <td>{{res_time}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <script>
        var message = document.querySelector('#message');

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;

        var grammar = '#JSGF V1.0;'

        var recognition = new SpeechRecognition();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1);
        recognition.grammars = speechRecognitionList;
        recognition.lang = 'en-US';
        recognition.interimResults = false;
        recognition.onresult = function(event) {
            var last = event.results.length - 1;
            var command = event.results[last][0].transcript;
            // var t = document.createTextNode(command);
            var li = document.createElement("li");
            var f = document.createElement("form");
            li.setAttribute("style", "margin-bottom: 20px");
            f.setAttribute("method","get");
            f.setAttribute("action", "{% url 'get_cmd' %}");
            f.setAttribute("class", "card col-6");
            f.setAttribute('style', 'padding:10px 10px 10px 10px');
            var b = document.createElement("button");
            b.append("Execute Command");
            b.setAttribute("class","btn btn-outline-success btn-sm");
            var i = document.createElement("input");
            i.setAttribute("type", "text");
            i.setAttribute("value", command);
            i.setAttribute("name", "cmd");
            i.setAttribute("class", "form-control");
            i.setAttribute("style", "margin-bottom:10px");
            i.required = true;
            f.append(i);
            f.appendChild(b);
            li.appendChild(f);
            document.getElementById('cmd_ul').appendChild(li);
            //message.textContent = 'Your Command >> ' + command + '.'; 
        };

        recognition.onspeechend = function() {
            recognition.stop();
        };
        function text_input() {
            var li = document.createElement("li");
            var f = document.createElement("form");
            li.setAttribute("style", "margin-bottom: 20px");
            f.setAttribute("method","get");
            f.setAttribute("action", "{% url 'get_cmd' %}");
            f.setAttribute("class", "card col-6");
            f.setAttribute('style', 'padding:10px 10px 10px 10px');
            var b = document.createElement("button");
            b.append("Execute Command");
            b.setAttribute("class","btn btn-outline-success btn-sm");
            var i = document.createElement("input");
            i.setAttribute("type", "text");
            i.setAttribute("name", "cmd");
            i.setAttribute("class", "form-control");
            i.setAttribute("style", "margin-bottom:10px");
            i.required = true;
            f.append(i);
            f.appendChild(b);
            li.appendChild(f);
            document.getElementById('cmd_ul').appendChild(li);
            document.getElementById('btnGivetxtCommand').disabled = true;
            b = document.getElementById('btnGivetxtCommand')
            b.setAttribute('class', 'btn btn-outline-danger')
            b.innerHTML = 'Disabled'
        }
        recognition.onerror = function(event) {
            //cmd_ul.textContent = 'Error occurred in recognition: ' + event.error;
            alert("Error occurred in recognition: "+ event.error +"\nPlease try again!");
        }        

        document.querySelector('#btnGiveCommand').addEventListener('click', function(){
            recognition.start();

        });

    </script>
</div>
{% endblock %}